name: Build and publish the container image
run-name: ${{ github.actor }} is building the container

"on":
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    needs: [ci, docs]
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      -
        name: Get tag
        id: repository
        run: |
          echo "repo=$(echo ${{ github.repository }}|tr 'A-Z' 'a-z')" >> $GITHUB_OUTPUT
          echo "tag=$(python src/databrowser/__init__.py)" >> $GITHUB_OUTPUT

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      -
        name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push databrowserAPI image
        uses: docker/build-push-action@v4
        with:
          build-args: VERSION=${{steps.repository.outputs.tag}}
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ steps.repository.outputs.repo }}:${{ steps.repository.outputs.tag }}
            ghcr.io/${{ steps.repository.outputs.repo }}:latest
